{% extends "home/home_base.html" %}
{% load static %}


{% block title %} Done {% endblock %}

{% block container %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">

<div class="container p-3">
    <div class="page">
        <div class="alert alert-success">Passowrd Has Been Changed Successfully !</div>
        <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
    </div>
</div>
{% endblock %}