{% extends "home/home_base.html" %}
{% load static %}

{% block title  %} Change Password {% endblock %}

{% block container %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
<form action="." method="POST">
    <div class="container">
        <div class="page">
                {% if form.errors %}
                    {% for key,val in form.errors.items %}
                        {% for error in val %}
                            <div class="alert alert-danger">{{error}}</div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                    {% csrf_token %}
                <div class="details" style="margin: 0 auto;">
                    
                    <div class="in">
                        <label for="">Current Password</label>
                        <input type="password" name="old_password" id="">
                    </div>
    
                    <div class="in">
                        <label for="">New Password</label>
                        <input type="password" name="new_password1" id="">
                    </div>
    
                    <div class="in">
                        <label for="">Confirm New Password</label>
                        <input type="password" name="new_password2" id="">
                    </div>
                    
                    <button type="submit">Save New Passowrd</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
