{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EgyChat | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute;top: 0;">
        <path fill="#0099ff" fill-opacity="1" d="M0,288L80,245.3C160,203,320,117,480,101.3C640,85,800,139,960,181.3C1120,224,1280,256,1360,272L1440,288L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
      </svg>

      <div class="overlay" id="a">
        <div class="loading">
            <span class="fa-spin ld"></span>
            <p>Loading...</p>
        </div>
    </div>

    <div class="page">
        {% block logo %}
            
        {% endblock %}

        {% block data %}
        {% endblock %}

        
        
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute; bottom: 0;">
        <path fill="#0099ff" fill-opacity="1" d="M0,0L80,42.7C160,85,320,171,480,218.7C640,267,800,277,960,240C1120,203,1280,117,1360,74.7L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
      </svg>

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/auth.js' %}"></script>
</body>
</html>